@model FYP.Models.Users_Tbl
@using FYP.Models;
@{
    FYPBDEntities db = new FYPBDEntities();
    Roles_Tbl r = new Roles_Tbl();
    ViewBag.Title = "Delete";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <div class="panel panel-primary dialog-panel" style="margin-top:100px">
        <div class="panel-heading">
            <h5 class="text-center">User Profile</h5>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col">
                    @{
                        r = db.Roles_Tbl.Find(Model.RollId);
                    }

                    Role
                </th>
                <th scope="col">@Html.DisplayFor(model => r.RollName)</th>
            </tr>
        </thead>

        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>


        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Username)</th>
            <td>@Html.DisplayFor(model => model.Username)</td>

        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>

        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Number)</th>
            <td>@Html.DisplayFor(model => model.Number)</td>

        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.CNIC)</th>
            <td>@Html.DisplayFor(model => model.CNIC)</td>

        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.SignUpDate)</th>
            <td>@Html.DisplayFor(model => model.SignUpDate)</td>

        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.ApprovalDate)</th>
            <td>@Html.DisplayFor(model => model.ApprovalDate)</td>

        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
